<div class="shadow-none p-3 mb-3 bg-light rounded" #rowRequirement>
    <div class="d-flex justify-content-between col-sm-12 flex-wrap">
      <div class="mb-3 row col-sm-12">
        <label class="form-label">Name of requirement</label>
        <div>
          <input type="text" (blur)="saveRequirement()" class="form-control" name="requirementName-{{index}}" id="requirementName" [(ngModel)]="name" [value]="requirementChild.name">
        </div>
      </div>
      <div class="mb-3 row col-sm-12">
        <label class="form-label">Priority</label>
        <div>
          <input type="text" (blur)="saveRequirement()" class="form-control" name="requirementPriority-{{index}}" id="customerLocation" [(ngModel)]="priority" [value]="requirementChild.priority">
        </div>
      </div>
    </div>
    <div class="mb-3 row col-sm-12">
      <label class="form-label">Description</label>
      <div>
        <textarea class="form-control" (blur)="saveRequirement()" id="customerLocation" name="requirementDescription-{{index}}" rows="3" [(ngModel)]="description" [value]="requirementChild.description"></textarea>
      </div>
    </div>
    <div *ngIf="requirementChild.buttonRemove">
        <button (click)="removeRequirement()" class="btn btn-danger">Remove</button>
    </div>
  </div>
